:root {
	--light-background: #fff;
	--light-background-secondary: #f4f5f9;
	--light-background-hover: #e6e8f0;
	--light-main-color: rgba(0, 0, 0, .85);
	--light-color: rgba(0, 0, 0, .65);
	--light-color-secondary: rgba(0, 0, 0, .45);
	--light-color-third: rgba(0,0,0, .25);
	--light-color-hover: rgba(0,0,0, .05);
	--light-border-color: #dcddde;
	--dark-background: #292a2d;
	--dark-background-secondary: #3b3d42;
	--dark-background-hover: #323438;
	--dark-header: #252627;
	--dark-main-color: rgba(255, 255, 255, .85);
	--dark-color: rgba(255, 255, 255, .65);
	--dark-color-secondary: rgba(255, 255, 255, .45);
	--dark-color-third: rgba(255,255,255, .25);
	--dark-color-hover: rgba(255,255,255, .05);
	--dark-border-color: #4a4b50;
	--main-color: #1890ff;
	--main-hover-color: #40a9ff;
}

@keyframes fadeIn {
	0% {
		opacity: 0
	}
	100% {
		opacity: 1
	}
}

@keyframes skeleton-loading {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

html {
	box-sizing: border-box;
}

*, :before, :after {
	box-sizing: border-box;
	border-width: 0;
	border-style: solid;
	border-color: inherit;
}

body {
	margin: 0;
	padding: 0;
	background-color: #fff;
	background-color: var(--light-background);
	color: #222;
	color: var(--light-color);
	font-weight: 400;
	font-size: .875rem;
	font-family: "PingFangSC-Regular", "PingFang SC", "Microsoft YaHei", Arial, Helvetica, "WenQuanYi Micro Hei", "tohoma,sans-serif";
	line-height: 1.5;
	text-rendering: optimizeLegibility;
	-webkit-overflow-scrolling: touch;
	-webkit-text-size-adjust: 100%;
}

@media (max-width:768px) {
	body {
		font-size: .875rem;
	}
}

body.dark-theme {
	background-color: #292a2d;
	background-color: var(--dark-background);
	color: #a9a9b3;
	color: var(--dark-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	color: var(--light-color);
	font-weight: 500;
	font-family: "PingFangSC-Medium", "PingFangSC-Regular", "PingFang SC", "Microsoft YaHei", Arial, Helvetica, "WenQuanYi Micro Hei", "tohoma,sans-serif";
	cursor: default;
}

.dark-theme h1,
.dark-theme h2,
.dark-theme h3,
.dark-theme h4,
.dark-theme h5,
.dark-theme h6 {
	color: var(--dark-color);
}

h1 {
	font-size: 1.5rem;
}

h2 {
	font-size: 1.25rem;
}

h3 {
	font-size: 1rem;
}

h4 {
	font-size: .875rem;
}

@media (max-width:768px) {
	h1 {
		font-size: 1.25rem;
	}

	h2 {
		font-size: 1rem;
	}

	h3 {
		font-size: .875rem;
	}

	h4 {
		font-size: .75rem;
	}
}

a {
	outline: none;
	background-color: transparent;
	color: var(--light-color);
	text-decoration: none;
	cursor: pointer;
	-webkit-transition: all 0.3s linear;
	transition: all 0.3s linear;
	-webkit-text-decoration-skip: objects;
}

.dark-theme a {
	color: var(--dark-color);
}

a:focus {
	-webkit-text-decoration-skip: ink;
	text-decoration-skip: ink;
}

a:hover {
	color: var(--main-hover-color);
}

a:active {
	color: #096dd9;
}

a:active,
a:hover {
	outline: 0;
	text-decoration: none;
}

a[disabled] {
	color: rgba(0, 0, 0, 0.45);
	cursor: not-allowed;
	pointer-events: none;
}

a.primary {
	color: var(--main-color);
}

a.primary:hover,a.primary:focus,a.primary:active {
	color: var(--main-hover-color);
}

i {
	font-style: normal;
}

img {
	display: inline-block;
	max-width: 100%;
	border-radius: .33rem;
}

img.center,
img.left {
	margin-right: auto;
}

img.center,
img.right {
	margin-left: auto;
}

video {
	display: flex;
	width: 100%;
}

code {
	margin: 0 4px;
	padding: 3px 8px 2px;
	border: 1px solid #b8e0f3;
	border-radius: .33rem;
	background-color: #e6f7ff;
	vertical-align: middle;
	font-size: .75rem;
}

.dark-theme code {
	border: 1px solid var(--dark-border-color);
	background-color: var(--dark-background-secondary);
}

pre {
	overflow: auto;
	margin: 0.5rem 0;
	padding: 1rem 1.5rem;
	border-radius: .33rem;
	background-color: var(--light-color-hover);
	font-size: .75rem;
}

.dark-theme pre {

	background-color: var(--dark-color-hover);
}

@media (max-width:768px) {
	pre {
		white-space: pre-wrap;
		word-wrap: break-word;
	}
}

pre code {
	margin: 0;
	padding: 0;
	border: none;
	background-color: transparent;
}

.dark-theme pre code {
	margin: 0;
	padding: 0;
	border: none;
	background-color: transparent;
	color: inherit;
}

blockquote {
	margin: 1rem 0;
	padding: .5rem 1rem;
	border-radius: 0 .33rem 0.33rem 0;
	border-left: .2rem solid var(--main-color);
	background-color: var(--light-color-hover);
}

.dark-theme blockquote {
	background-color: var(--dark-color-hover);
}

blockquote p:first-of-type {
	margin-top: 0;
}

blockquote p:last-of-type {
	margin-bottom: 0;
}

table {
	margin: 3rem 0;
	width: 100%;
	border-collapse: collapse;
	border-radius: .33rem;
	table-layout: fixed;
}

table,
td,
th {
	padding: 10px;
	border: 1px solid #EBEDF0;
}

.dark-theme table,
.dark-theme td,
.dark-theme th {
	border: 1px solid #4a4b50;
	border: 1px solid var(--dark-border-color);
}

th {
	background: #fafafa;
	background: var(--light-background-secondary);
}

.dark-theme th {
	background: #3b3d42;
	background: var(--dark-background-secondary);
}

ol,
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

/* color */
.c-light {
	color: var(--light-background) !important;
}

.c-dark {
	color: var(	--dark-background) !important;
}

a.c-light:hover, a.c-dark:hover {
	color: var(--main-color) !important;
}

.c-sub {
	color: var(--light-color-third) !important;
}

.dark-theme .c-sub {
	color: var(--dark-color-third) !important;
}

/* weight */
.weight-100 {
	font-weight: 100;
}

.weight-200 {
	font-weight: 200;
}

.weight-300 {
	font-weight: 300;
}

.weight-400 {
	font-weight: 400;
}

.weight-500 {
	font-weight: 500;
}

.weight-600 {
	font-weight: 600;
}

.weight-700 {
	font-weight: 700;
}

/* button */
button,
a {
	text-decoration: none;
	cursor: pointer;
}

.button-container {
	display: table;
	margin-right: auto;
	margin-left: auto;
}

.button,a.button,button,.select,select {
	position: relative;
	display: flex;
	outline: 1px solid transparent;
	border: 1px solid transparent;
	border-radius: .33rem;
	background-color: transparent;
	text-align: center;
	text-decoration: none;
	font-weight: 500;
	line-height: 1;
	cursor: pointer;
	transition: all .3s linear;
	align-items: center;
	justify-content: center;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.dark-theme .button,
.dark-theme a.button,
.dark-theme button {
	background: var(--dark-background-secondary);
	color: inherit;
}

.button.outline,
a.button.outline,
button.outline,
.select.outline,
select.outline {
	outline-color: var(--light-border-color);
	background: transparent;
	box-shadow: none;
}

.dark-theme .button.outline,
.dark-theme a.button.outline,
.dark-theme button.outline,
.dark-theme .select.outline,
.dark-theme select.outline {
	outline-color: var(--dark-border-color);
	color: inherit;
}

.button.outline:hover,
a.button.outline:hover,
button.outline:hover,
.select.outline:hover,
select.outline:hover {
	background-color: var(--light-background-hover);
}

.dark-theme .button.outline:hover,
.dark-theme a.button.outline:hover,
.dark-theme button.outline:hover,
.dark-theme .select.outline:hover,
.dark-theme select.outline:hover {
	background-color: var(--dark-background-hover);
	color: inherit;
}

.button.primary,
a.button.primary,
button.primary {
	color: var(--light-background);
	border: none;
	outline: none;
	background-color: var(--main-color);
}

.button.primary:hover,
a.button.primary:hover,
button.primary:hover {
	background-color: var(--main-hover-color);
	box-shadow: 0px 5px 20px -3px rgba(24, 144, 255, 0.5);
}

.button.link,
a.button.link,
button.link {
	background: none;
	font-size: 1rem;
}

.select,select {
	position: relative;
	display: flex;
	text-align: center;
	align-items: center;
}

.select::after {
	position: absolute;
	right: .5rem;
	border-color: var(--light-color) transparent transparent transparent;
	border-style: solid;
	border-width: .25rem .25rem 0;
	content: '';
}

.dark-theme .select::after {
	border-color: var(--dark-color) transparent transparent transparent;
}

select>option {
	text-align: center;
	background-color: var(--light-background-secondary);
}

.dark-theme select>option {
	background-color: var(--dark-background-secondary);
}

.disabled {
	cursor: not-allowed;
}

input {
	outline: none;
	border:none;
	border-radius: .33rem;
	background-color: transparent;
	box-shadow: none;
	color: inherit;
}

input:focus,input:active {
	outline: none;
	background-color: transparent;
}

textarea {
	font-family: inherit;
	overflow-x: hidden;
	overflow-y: clip;
	flex: 1;
	padding: 0;
	outline: .1rem solid transparent;
	outline-offset: .1rem;
	background-color: transparent;
	white-space: pre-wrap;
	line-height: 2;
	resize: none;
	overflow-wrap: anywhere;
	word-break: normal
}

button, input, optgroup, select, textarea {
	font-family: inherit;
	font-weight: inherit;
	color: inherit;
	transition: all 0.3s linear;
}

/* dropdown */
.dropdown {
	position: relative;
}

.dropdown-wrapper {
	position: absolute;
	display: flex;
	flex-direction: column;
	top: 1.5rem;
	right: 0;
	padding: .25rem;
	border-radius: .33rem;
	background-color: var(--light-background-secondary);
}

.dark-theme .dropdown-wrapper {
	background-color: var(--dark-background);
}

.dropdown-wrapper>.btn {
	cursor: pointer;
	white-space: nowrap;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	display: flex;
	justify-content: center;
	padding: .5rem 1rem;
	line-height: 1rem;
	border-radius: .24rem;
}

.dropdown-wrapper>.btn:hover {
	color: var(--light-main-color);
	background-color: var(--light-background-hover);
}

.dark-theme .dropdown-wrapper>.btn:hover {
	color: var(--dark-main-color);
	background-color: var(--dark-background-hover);
}

.command-line-prompt {
	float: left;
	display: block;
	margin-right: 1em;
	border-right: 1px solid #999;
	letter-spacing: -1px;
	font-size: 100%;
	pointer-events: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.command-line-prompt>span:before {
	display: block;
	padding-right: .8em;
	color: #999;
	content: " ";
}

.command-line-prompt>span[data-user]:before {
	content: "["attr(data-user) "@"attr(data-host) "] $";
}

.command-line-prompt>span[data-user=root]:before {
	content: "["attr(data-user) "@"attr(data-host) "] #";
}

.command-line-prompt>span[data-prompt]:before {
	content: attr(data-prompt);
}

.code-toolbar .toolbar-item a {
	position: relative;
	display: inline-flex;
	margin-bottom: 5px;
	padding: 3px 8px;
	outline: none;
	border: 1px solid transparent;
	border-radius: .33rem;
	background: #eaeaea;
	background: var(--light-background-secondary);
	text-align: center;
	text-decoration: none;
	font-weight: 500;
	font-size: 13px;
	cursor: pointer;
	align-items: center;
	justify-content: center;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.dark-theme .code-toolbar .toolbar-item a {
	background: #3b3d42;
	background: var(--dark-background-secondary);
	color: inherit;
}

hr {
	width: 100%;
	height: 1px;
	border: none;
	background: #dcdcdc;
	background: var(--light-border-color);
}

.dark-theme hr {
	background: #4a4b50;
	background: var(--dark-border-color);
}

.hidden {
	display: none;
}

.separator {
	position: relative;
}

.separator::after {
	position: absolute;
	top: 0;
	right: 1px;
	color: var(--main-color);
	content: "•";
}

/* border */
.border-t {
	border-top: 1px solid var(--light-border-color);
}
.dark-theme .border-t {
	border-top: 1px solid var(--dark-border-color);
}

.border-b {
	border-bottom: 1px solid var(--light-border-color);
}
.dark-theme .border-b {
	border-bottom: 1px solid var(--dark-border-color);
}

/* header */
.header {
	position: relative;
	display: flex;
	padding: 20px 0;
	background: #fff;
	background: var(--light-header);
	box-shadow: 0px 5px 60px 0px rgba(17, 58, 93, 0.1);
	align-items: center;
	justify-content: center;
}

.dark-theme .header {
	background: #252627;
	background: var(--dark-header);
}

.header-center {
	display: flex;
	flex-direction: row;
}

.header-right {
	display: flex;
	width: 120px;
	flex-direction: row;
	justify-content: flex-end;
}

@media (max-width:768px) {
	.header-right {
		flex-direction: row-reverse;
		justify-content: flex-start;
	}
}

.header-right .iconfont {
	line-height: 1;
}

.header-inner {
	justify-content: space-between;
}

.header-inner,
.theme-toggle {
	position: relative;
	z-index: 1;
	display: flex;
	align-items: center;
}

.theme-search {
	margin: 0 1rem;
	line-height: 1;
	cursor: pointer;
	justify-content: center;
}

.theme-toggle {
	position: relative;
	cursor: pointer;
}

.theme-toggle .iconfont {
	color: rgba(0, 0, 0, 0.45);
}

.dark-theme .theme-toggle .iconfont {
	color: var(--dark-color);
}

.theme-toggler {
	fill: currentColor;
}

.logo {
	display: flex;
	max-width: 100px;
	text-decoration: none;
	align-items: center;
	flex: 0 0 auto;
}

@media (min-width: 768px) {
	.logo {
		max-width: 120px;
	}
}

.logo img {
	height: auto;
}

.logo-text {
	font-size: 1.125rem;
}

/* Menu */
.menu {
	--shadow-color: rgba(0, 0, 0, 0.12);
	--shadow: 0 8px 20px var(--shadow-color);
}

@media (max-width:768px) {
	.menu {
		position: absolute;
		top: 50px;
		right: 10px;
		z-index: 99;
		margin: 0;
		padding: 5px;
		border: none;
		border-radius: .33rem;
		background-color: var(--light-background);
		box-shadow: var(--shadow);
		list-style: none;
	}

	.dark-theme .menu {
		background-color: var(--dark-background-secondary);
	}
}

.menu a {
	display: flex;
	color: var(--light-color-secondary);
	text-decoration: none;
}

.dark-theme .menu a {
	color: var(--dark-color-secondary);
}

.menu a:hover {
	color: rgba(0, 0, 0, 0.65);
	color: var(--light-color);
}

.dark-theme .menu a:hover {
	color: rgba(255, 255, 255, 0.65);
	color: var(--dark-color);
}

.menu-inner {
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
	align-items: center;
	justify-content: flex-end;
	flex-wrap: wrap;
}

@media (max-width:768px) {
	.menu-inner-desktop {
		display: none;
	}
}

.menu-inner li {
	position: relative;
	display: flex;
	margin: 0 1rem;
	text-align: center;
	line-height: 1.5rem;
	flex: 0 0 auto;
	justify-content: center;
}

.menu-inner li:before {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 0;
	height: 1px;
	background: var(--main-hover-color);
	content: "";
	-webkit-transition: width 0.3s ease;
	transition: width 0.3s ease;
}

.menu-inner li:hover:before {
	right: auto;
	left: 0;
	width: 100%;
}

@media (max-width:768px) {
	.menu-inner {
		padding: 0 1.5rem;
		flex-direction: column;
		align-items: flex-start;
	}

	.menu-inner li {
		margin: 1rem;
	}
}

.menu-inner-sub {
	position: absolute;
	top: 1rem;
	z-index: 3;
	display: none;
	margin: 1rem auto 0;
	padding: .725rem .5rem;
	width: max-content;
	border: 1px solid var(--light-border-color);
	border-radius: .33rem;
	background-color: var(--light-background);
	list-style: none;
	align-items: center;
}

.dark-theme .menu-inner-sub {
	border: 1px solid var(--dark-border-color);
	background-color: var(--dark-background);
}

.menu-inner li:hover .menu-inner-sub {
	display: flex;
}

.menu-inner-sub:before {
	position: absolute;
	top: -1rem;
	left: 0;
	width: 100%;
	height: 100%;
	content: '';
}

.menu-trigger {
	margin-left: 10px;
	cursor: pointer;
	fill: currentColor;
}

#sidebar-menus {
	position: fixed;
	top: 0px;
	right: -300px;
	z-index: 10;
	overflow: hidden auto;
	padding-top: 1.5rem;
	width: 300px;
	height: 100%;
	border-left: 1px solid var(--light-border-color);
	background: var(--light-background);
	transition: all 0.5s ease 0s;
}

.dark-theme #sidebar-menus {
	border-left: 1px solid var(--dark-border-color);
	background: var(--dark-background);
}

#sidebar-menus.open {
	transform: translate3d(-100%, 0px, 0px);
}

.menu-list {
	position: relative;
}

.menu-list .menu-item {
	position: relative;
	display: flex;
}

.menu-list .menu-item a {
	padding: .5rem;
	border: 1px solid var(--light-border-color);
	border-radius: .33rem;
	text-align: center;
	font-weight: 500;
	flex: 1;
}

.dark-theme .menu-list .menu-item a {
	border: 1px solid var(--dark-border-color);
}

.menu-item-sub {
	display: none;
	margin: .5rem 0;
	background-color: var(--dark-background-secondary);
}

.menu-item.open .menu-item-sub {
	display: block;
}

/* banner */
.banner {
	display: flex;
	align-items: center;
}

.banner .banner-row {
	position: relative;
}

.banner-wrapper {
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}

.banner-wrapper .images-wrapper {
	display: grid;
	width: 100%;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	gap: 1rem;
}

.banner-wrapper .images-wrapper .banner-resource {
	position: relative;
	overflow: hidden;
	border-radius: .33rem;
	-ms-overflow-style: none;
	scrollbar-width: none;
	background-position: center;
	background-size: cover;
	flex: 1;
	align-items: center;
	background-color: var(--light-background-secondary);
}

.dark-theme .banner-wrapper .images-wrapper .banner-resource {
	background-color: var(--dark-background-secondary);
}

.banner-wrapper .images-wrapper .banner-resource::after {
	display: block;
	padding-top: 100%;
	content: '';
}

.banner-wrapper .images-wrapper .banner-resource .banner-hover {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: inherit;
	background-color: rgba(64, 169, 255, .65);
	content: '';
	opacity: 0;
	transition: transform 0.4s cubic-bezier(0.51, 0.01, 0.18, 1.03), opacity 0.3s ease;
}

.banner-wrapper .images-wrapper .banner-resource:hover .banner-hover {
	opacity: 1;
}

.banner-wrapper .images-wrapper .banner-resource .banner-title {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
	display: flex;
	overflow: hidden;
	color: #FFF;
	font-weight: 500;
	text-align: center;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.banner-wrapper .images-wrapper .banner-resource .banner-title span {
	opacity: 0;
	transition: transform .4s ease;
	transform: translate3d(0, 100%, 0);
}

.banner-wrapper .images-wrapper .banner-resource:hover .banner-title span {
	opacity: 1;
	transition: transform .4s ease;
	transform: translate3d(0, 0, 0);
}

.daily-inner {
	display: flex;
	border-radius: .33rem;
	justify-content: center;
}

.daily-inner::after {
	display: block;
	padding-bottom: 100%;
	content: "";
}

.daily-album {
	position: relative;
	display: flex;
	border-radius: inherit;
	border-radius: inherit;
	background-position: center;
	background-size: cover;
	flex: 1;
	align-items: center;
}

.daily-hover {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border-radius: inherit;
	background-color: var(--light-color-secondary);
	transition: all 0.3s ease;
}

.daily-album:hover .daily-hover {
	background-color: var(--light-color);
}

.daily-content {
	z-index: 1;
	display: flex;
	overflow: hidden;
	color: var(--light-background);
	flex: 1;
	flex-direction: column;
	opacity: 0;
	transition: transform .4s ease;
	transform: translate3d(0, 100%, 0);
}

.daily-album:hover .daily-content {
	opacity: 1;
	transition: transform .4s ease;
	transform: translate3d(0, 0, 0);
}

.daily-content .title,.daily-content .data {
	display: flex;
	text-align: justify;
	font-weight: 500;
	font-size: 1.25rem;
	opacity: 1;
	flex: 1 1 auto;
	word-break: break-all;
	
}

.daily-content .data {
	font-size: 1rem;
	color: var(--dark-color);
}

.daily-time {
	position: absolute;
	top: 1.5rem;
	left: 1.5rem;
	color: var(--light-background);
}

.daily-album:hover .daily-time {
	color: var(--light-background);
	opacity: 1;
}

/* index */
.index {
	flex-direction: column;
	flex: 1 auto;
	align-items: center;
}

.content {
	margin: 0;
	flex-direction: column;
	flex: 1 auto;
	align-items: center;
}

.content-header {
	background-color: #f4f5f9;
	background-color: var(--light-background-secondary);
}

.dark-theme .content-header {
	background-color: #3b3d42;
	background-color: var(--dark-background-secondary);
}

.content-header::after {
	display: flex;
	content: '';
	padding: 3rem 0;
}

.content-header .header-title {
	position: relative;
	display: flex;
}

/* title */
.title-line {
	position: relative;
	margin: 0;
}

.title-line:before {
	position: absolute;
	top: 54%;
	right: 1px;
	left: 1px;
	height: 20%;
	background-color: #2663fc;
	content: '';
	opacity: 0.33;
	-webkit-transform: translate(0%, -50%);
	-ms-transform: translate(0%, -50%);
	transform: translate(0%, -50%);
}

.content-inner {
	position: relative;
}


/* tab */
.tab-title {
	display: flex;	
	cursor: pointer;
}

/* article */
.article-item {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 2rem;
	min-width: 0;
	word-wrap: break-word;
	-ms-flex-direction: row;
	flex-direction: row;
}

.article-content {
	display: -ms-flexbox;
	display: flex;
	overflow: hidden;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
}

.article-body {
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
}

.article-title {
	margin: 0;
	font-family: var(--serif);
	-webkit-transition: color .3s ease-in-out;
	-o-transition: color .3s ease-in-out;
	transition: color .3s ease-in-out;
}

.article-title a {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.article-inner {
	margin-top: 1.5rem;
	color: var(--light-color-secondary);
}

.dark-theme .article-inner {
	color: var(--dark-color-secondary);
}

.article-item:hover .article-title {
	color: #40a9ff;
}

.article-footer {
	margin-top: .75rem;
}

.article-data {
	position: relative;
	margin: 0 1rem 1rem;
}

.show-details p {
	display: -webkit-box;
}

.article-metadata {
	color: #7a8b9a;
	color: var(--light-color);
	opacity: .65;
}

.dark-theme .article-metadata {
	color: rgba(255, 255, 255, .65);
	color: var(--dark-color);
}

.article-image {
	position: relative;
}

.feature {
	position: relative;
	display: flex;
	overflow: hidden;
	padding: 0;
	width: 100%;
	border-radius: .33rem;
	-ms-flex-negative: 0;
	flex-shrink: 0;
}

.feature:after {
	display: block;
	padding-top: 100%;
	content: '';
}

.feature-link {
	position: relative;
	border-radius: inherit;
	background-color: var(--light-background-secondary);
	background-position: 50% 50%;
	background-size: cover;
	background-repeat: no-repeat;
	flex: 1;
	object-fit: cover;
}

.dark-theme .feature-link {
	background-color: var(--dark-background-secondary);
}

.feature .feature-hover {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border-radius: inherit;
	background-color: rgba(64, 169, 255, .65);
	content: '';
	opacity: 0;
	transition: transform 0.4s cubic-bezier(0.51, 0.01, 0.18, 1.03), opacity 0.3s ease;
}

.feature .feature-title {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
	display: flex;
	overflow: hidden;
	color: #FFF;
	text-align: center;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.feature .feature-title span {
	opacity: 0;
	transition: transform .4s ease;
	transform: translate3d(0, 100%, 0);
}

.feature:hover .feature-hover {
	opacity: 1;
}

.feature:hover .feature-title span {
	opacity: 1;
	transition: transform .4s ease;
	transform: translate3d(0, 0, 0);
}

.feature img {
	position: absolute;
	width: 100%;
	height: 100%;
}

.post {
	position: relative;
	padding: 2rem 0;
}

.post-main {
	overflow: visible;
	margin-right: 0;
	line-height: 2;
}

@media (min-width: 768px) {
	.post-main {
		margin-right: 1.5rem;
	}
}

.post-header {
	position: relative;
	margin-bottom: 2rem;
}

.post-title {
	margin: 0;
	font-weight: normal;
	font-variant: tabular-nums;
	font-family: "PingFangSC-Medium", "PingFangSC-Regular", "PingFang SC", "Microsoft YaHei", Arial, Helvetica, "WenQuanYi Micro Hei", "tohoma,sans-serif";
	line-height: 1.5;
	--shadow-color: rgba(0, 0, 0, 0.12);
	--shadow: 0 8px 20px var(--shadow-color);
}

.post-title a {
	text-decoration: none;
}

.post-meta {
	position: relative;
	display: flex;
	align-items: center;
}

.post-meta .item {
	position: relative;
	display: inline-block;
	margin-right: 1rem;
	padding-right: 1rem;
	text-align: center;
	text-transform: capitalize;
	font-size: .875rem;
	cursor: pointer;
}

.post-meta .item:not(:last-child)::after {
	position: absolute;
	top: 0;
	right: -3px;
	color: var(--main-color);
	content: "•";
}

.post-content {
	overflow: visible;
	margin: 0 0 1.5rem;
	padding: 0;
	height: auto;
	text-align: justify;
	line-height: 2;
}

.post-content h3 {
	position: relative;
	margin: 28px auto 18px !important;
	letter-spacing: 2px;
}

.post-content ul>li {
	margin-left: 20px;
	padding-left: 4px;
	list-style-type: circle;
}

.post-content img {
	display: flex;
	width: 100%;
	border-radius: .33rem;
	background-color: var(--light-background-secondary);
	-moz-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	flex: 1;
	-webket-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
}

.dark-theme .post-content img {
	background-color: var(--dark-background-secondary);
}

.post-inner {
	line-height: 2;
}

.post-inner h2,
.post-inner h3,
.post-inner h4,
.post-inner h5,
.post-inner h6 {
	clear: both;
	margin: 1.5rem 0 .5rem;
	font-weight: 500;
}

.post-avatar.avatar {
	float: left;
	margin: .5rem 1rem 0 0;
	width: 48px;
	border-radius: 50%;
	box-shadow: 0 1rem 40px rgba(0, 0, 0, .15);
}

.post-tags {
	display: block;
	margin-bottom: 20px;
	font-size: 1rem;
	opacity: .5;
}

.post-tags a {
	text-decoration: none;
}

#all-tags a {
	margin-right: 1rem;
	text-decoration: none;
	font-size: 1.33rem;
}

@media (max-width:768px) {
	#all-tags a {
		margin-right: 0.5rem;
		font-size: 0.95rem;
	}
}

.post-cover {
	margin: 0 auto;
	width: 100%;
	border-radius: .33rem;
}

@media (max-width:899px) {
	.post-cover {
		margin: 20px 0;
		width: 100%;
	}
}

.post--regulation h1,
.post--regulation h2 {
	justify-content: center;
}

.post--regulation h2 {
	margin-bottom: 10px;
}

.post--regulation h2+h2 {
	margin-top: -10px;
	margin-bottom: 20px;
}

.post-footer {
	position: relative;
	display: flex;
	margin: 1.5rem 0;
	padding: 1.5rem 0 1rem;
	border-bottom: 1px solid #f4f6f8;
	border-bottom: 1px solid var(--light-border-color);
	align-items: center;
}

.dark-theme .post-footer {
	border-bottom: 1px solid #4a4b50;
	border-bottom: 1px solid var(--dark-border-color);
}

.post-footer .item {
	position: relative;
	cursor: pointer;
	line-height: 1;
	transform: all .3s linear;
}

.post-footer .item.leancloud-visitors {
	flex: 1;
}

.post-footer .item:hover .iconfont {
	color: #1890ff;
}

.post-navigation {
	position: relative;
	overflow: hidden;
	margin: 2rem 0;
}

.post-card {
	padding: 1rem 0;
}

.post-card:not(:first-child) {
	border-top: 1px solid #f4f6f8;
	border-top: 1px solid var(--light-border-color);
}

.dark-theme .post-card:not(:first-child) {
	border-top: 1px solid #4a4b50;
	border-top: 1px solid var(--dark-border-color);
}

.post-card .card-content {
	position: relative;
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	justify-content: space-between;
}

.card-content .card-body {
	position: relative;
	padding-top: 2px;
}

.card-content .card-body a:hover,
.card-content .card-body a:active,
.card-content .card-body a:focus {
	display: block;
	color: var(--main-color);
}

.card-content .card-body h3 {
	display: flex;
	align-items: center;
}

.card-content .card-body .title {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.card-footer {
	display: flex;
	margin: 2px 0;
	align-items: center;
}

.card-footer .item {
	position: relative;
	margin-right: 1rem;
	padding-right: 1rem;
	color: rgba(0, 0, 0, 0.45);
	color: var(--light-color-secondary);
}

.dark-theme .card-footer .item {
	color: rgba(255, 255, 255, 0.45);
	color: var(--dark-color-secondary);
}

.card-footer .item:not(:last-child):after {
	position: absolute;
	top: 0;
	right: -3px;
	color: var(--main-color);
	content: "•";
}

.post-card .card-thumb {
	position: relative;
}

.post-card .card-thumb a {
	display: block;
	padding-bottom: 56%;
	width: 100%;
	border-radius: .33rem;
	background-color: #F2F4F6;
	background-position: center;
	background-size: cover;
}

.post-sidebar {
	width: 0;
	flex: 1;
}

.sidebar {
	position: relative;
	margin: 0 0 2rem;
	padding: 0;
}

.sidebar-title {
	margin-bottom: 1.5rem;
	padding: 0 1rem;
	border-left: 3px solid var(--main-color);
	font-weight: 500;
	font-size: 1rem;
}

.sidebar-tags {
	position: relative;
	flex-flow: wrap;
}

.sidebar-tags a {
	position: relative;
	display: flex;
	margin: .25rem;
	padding: 0.25rem .5rem;
	border: 1px solid var(--light-border-color);
	border-radius: .33rem;
	flex: 1 0 auto;
	justify-content: center;
}

.dark-theme .sidebar-tags a {
	border: 1px solid var(--dark-border-color);
}

.sidebar-toggle {
	display: flex;
	padding: .5rem;
	border: 1px solid var(--light-border-color);
	border-radius: .33rem;
}

.dark-theme .sidebar-toggle {
	border: 1px solid var(--dark-border-color);
}

.post-recent {
	position: relative;
}

.post-recent .recent-list {
	margin: 0;
}

.post-recent .recent-list li {
	display: flex;
	margin-bottom: 1rem;
	list-style-type: none;
	align-items: center;
}

.post-recent .recent-list li a {
	display: block;
	overflow: hidden;
	margin-bottom: 8px;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 14px;
}

.post-recent .recent-list li .recent-date {
	color: #788193;
	font-size: .75rem;
}

.recent-thumb {
	margin-right: 8px;
	width: 48px;
	height: 48px;
	min-width: 48px;
	border-radius: .33rem;
	background-position: center;
	background-size: cover;
}

.recent-content {
	display: flex;
	width: 0;
	flex: 1;
	flex-flow: column;
}

.post-toc ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.post-toc ul li {
	position: relative;
	display: flex;
	margin-bottom: .75rem;
	padding: 0 0 .75rem;
	color: #7a8b9a;
	text-align: justify;
	text-transform: uppercase;
	font-size: .75rem;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-align: center;
	align-items: center;
	justify-content: space-between;
}

.post-toc ul li a {
	margin: 0 1px;
	font-size: .875rem;
	flex: 1;
}

.post-toc ul li a.current {
	color: var(--main-color);
}

.pagination {
	display: flex;
	border-radius: .33rem;
	list-style: none;
}

.pagination-buttons {
	position: relative;
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
}

.pagination-nav {
	flex: 1;
}

.nav-links {
	position: relative;
	display: flex;
}

.nav-links li {
	float: left;
	list-style: none;
}

.page-item .page-link {
	position: relative;
	display: flex;
	margin: 0 .5rem 0 0;
	padding: .5rem .875rem;
	border-radius: 0.33rem;
	background-color: #f4f5f9;
	background-color: var(--light-background-secondary);
	color: #a9a9b3;
	font-size: 0.75rem;
	transition: all .3s linear;
}

.dark-theme .page-item .page-link {
	background-color: #3b3d42;
	background-color: var(--dark-background-secondary);
}

.page-item:hover .page-link,
.page-item.active .page-link {
	z-index: 2;
	background-color: #1890ff;
	box-shadow: 0px 5px 20px -3px rgba(24, 144, 255, 0.5);
	color: #fff !important;
}

.pagination-menu .page-item:last-child .page-link {
	margin: 0;
}

.footer {
	position: relative;
	color: #999;
	color: var(--light-color);
}

.dark-theme .footer {
	color: #73747b;
	color: var(--dark-color);
}

.footer__inner {
	margin: 0 auto;
	max-width: 100%;
	align-items: center;
	justify-content: space-between;
}

@media (max-width:899px) {
	.footer__inner {
		flex-direction: column;
	}
}

.footer-content {
	padding: 1.5rem 0;
	border-top: 1px solid #f4f6f8;
	border-top: 1px solid var(--light-border-color);
	font-size: .75rem;
}

.dark-theme .footer-content {
	border-top: 1px solid #4a4b50;
	border-top: 1px solid var(--dark-border-color);
}

.copyright {
	position: relative;
	display: flex;
	line-height: 1.5rem;
}

.socials {
	position: relative;
	text-align: right;
	font-size: 18px;
	line-height: 1.5rem;
}

.socials a .iconfont {
	font-size: 16px;
}

.backtop {
	position: fixed;
	right: 1rem;
	bottom: 1rem;
	align-items: center;
	justify-content: center;
	z-index: 1;
	width: 2.4rem;
	height: 2.4rem;
	border-radius: .33rem;
	background-color: var(--light-color-third);
	-webkit-transition: all 0.6s ease;
	transition: all 0.6s ease;
}

.dark-theme .backtop {
	background-color: var(--light-color);
}

.backtop:hover,
.backtop:focus {
	background-color: var(--main-color);
}

.backtop i {
	color: var(--light-background);
	font-size: 1rem;
}

#mask {
	position: fixed;
	top: 0;
	z-index: 5;
	display: none;
	width: 100%;
	height: 100%;
	background: var(--dark-color-hover);
	transform: translateZ(0);
	-webkit-backdrop-filter: saturate(180%) blur(1rem);
	backdrop-filter: saturate(180%) blur(1rem);
	animation: 0.6s ease 0s 1 normal none running to_show;
}

.terms {
	margin: 0 auto;
	padding: 20px;
	width: 100%;
	max-width: 800px;
	text-align: left;
}

.terms__list {
	margin: 0;
	padding: 0 0 0 20px;
}

.terms__list a {
	text-decoration: none;
}

.terms__term {
	margin-bottom: 15px;
}

.terms__term-count {
	margin-left: 5px;
	padding: 2px 10px;
	border-radius: .33rem;
	background: #eaeaea;
	background: var(--light-background-secondary);
	text-decoration: none;
	font-size: 1rem;
}

.dark-theme .terms__term-count {
	background: #3b3d42;
	background: var(--dark-background-secondary);
}

.archives__inner {
	margin: 0;
}

.archive {
	position: relative;
	margin: 0 auto;
	padding: 0;
}

.archive-title {
	margin-bottom: 1.5rem;
}

.archive-title h1 {
	margin: 0 0 .5rem;
}

/* list */
.list-item {
	position: relative;
	display: flex;
	min-width: 0;
	cursor: default;
}

.list-item .item-thumb {
	box-sizing: border-box;
	padding: 0;
	border: 1px solid var(--light-border-color);
	border-radius: .33rem;
	background-color: var(--light-background-secondary);
	background-position: center;
	background-size: cover;
}

.dark-theme .list-item .item-thumb {
	border: 1px solid var(--dark-border-color);
	background-color: var(--dark-background-secondary);
}

.list-item .item-thumb::after {
	display: block;
	padding-top: 100%;
	content: "";
}

.list-item .item-inner {
	position: relative;
	display: flex;
	overflow: hidden;
	line-height: 1.5;
	flex: 1;
	flex-flow: column;
}

.list-item .item-inner .title {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	flex: 1;
}

.list-item .item-inner .item-foot {
	overflow: hidden;
	opacity: .65;
}

/* Search */
.search-box {
	position: relative;
	display: flex;
	border: 1px solid #e3e6ec;
	border-radius: .33rem;
	background-color: #fff;
	background-color: var(--light-background);
	flex: 1;
	align-items: center;
}

.dark-theme .search-box {
	border: 1px solid #4a4b50;
	background-color: #3b3d42;
	background-color: var(--dark-background-secondary);
}

#searchBoxInput {
	margin: 0;
	padding: .5rem;
	outline: none;
	border: none;
	background-color: transparent;
	font-size: 14px;
	flex: 1;
}

.dark-theme #searchBoxInput {
	color: rgba(255, 255, 255, .45);
	color: var(--dark-color-secondary);
}

#searchBoxButton {
	margin: 0;
	padding: 10px;
	border: 0 none;
	border-radius: 0;
	background: none;
	color: rgba(0, 0, 0, .45);
	color: var(--light-color-secondary);
}

#searchBoxButton:hover {
	color: rgba(0, 0, 0, .65);
	color: var(--light-color);
}

.dark-theme #searchBoxButton {
	color: rgba(255, 255, 255, .45);
	color: var(--dark-color-secondary);
}

.dark-theme #searchBoxButton:hover {
	color: rgba(255, 255, 255, .65);
	color: var(--dark-color);
}

.search {
	position: relative;
	margin: 2rem 0;
}

.search-title {
	display: flex;
	margin-bottom: 2rem;
	justify-content: center;
}

/* album */
.album-item {
	display: flex;
}

.album-item .item-content {
	position: absolute;
	bottom: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	cursor: default;
}

.album-item .item-content.is-feature {
	background-image: linear-gradient(transparent,rgba(0,0,0,.65));
	-webkit-backdrop-filter: saturate(180%) blur(.33rem);
	backdrop-filter: saturate(180%) blur(.33rem);	
}

.album-item .item-content.item-fadein {
	opacity: 0;
	transition: transform 0.4s cubic-bezier(0.51, 0.01, 0.18, 1.03), opacity 0.3s ease;
}

.album-item:hover .item-content.item-fadein {
	opacity: 1;
}

/* friend */
.cf-avatar {
	position: relative;
	box-sizing: border-box;
	padding: 0;
	min-width: 40px;
}

.cf-avatar::after {
	display: block;
	padding-top: 100%;
	content: "";
}

.cf-inner {
	position: relative;
	overflow: hidden;
	line-height: 1;
}

.cf-friends-link {
	display: flex;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.cf-sub {
	overflow: hidden;
	color: #7a8b9a;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/* card */
.card-item {
	position: relative;
	overflow: hidden;
	border-radius: .33rem;
	background-color: var(--light-background-secondary);
	cursor: default;
	transition: all .6s ease-out;
}

.card-item:hover {
	background-color: var(--light-background-hover);
}

.dark-theme .card-item {
	background-color: var(--dark-background-secondary);
}

.dark-theme .card-item:hover {
	background-color: var(--dark-background-hover);
}

.card-item .item-album {
	position:relative;
	overflow:hidden;
	justify-content:center;
	align-items:center;
	background-color: rgba(0,0,0,.1);
}

.dark-theme .card-item .item-album {
	background-color: rgba(255,255,255,.1);
}

.card-item .item-album img{
	position:absolute;
	width:100%;
	transition:transform .2s ease-in-out;
	flex:1;
	object-fit: cover;
	transition: all 0.6s ease;
}
.card-item .item-album::after{
	display:block;
	padding-top:64%;
	content:''
}

.card-item:hover .item-album>img {
	transform: scale(1.1);
}

.card-item .item-header {
	position: relative;
	display: flex;
	line-height: 2rem;
	align-items: center;
}

.card-item .item-avatar {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: var(--light-background);
	background-size: contain;
	flex: 0 0 auto;
}

.dark-theme .card-item .item-avatar {
	background-color: var(--dark-background);
}

.card-item .item-sub {
	line-height: 1;
}

.card-item .item-creator {
	font-weight: 700;
}

.card-item .item-mate {
	color: var(--light-color-secondary);
}

.dark-theme .card-item .item-mate {
	color: var(--dark-color-secondary);
}

.card-item .item-option {
	display: none;
	z-index: 1;
}

.card-item:hover .item-option {
	display: flex;
}

.card-item .item-content {
	position: relative;
	display: flex;
	transition: all .3s ease;
	flex-direction: column;
	justify-content: center;
}

.card-item .item-content.is-feature {
	background-image: linear-gradient(transparent,rgba(0,0,0,.85));
	-webkit-backdrop-filter: saturate(180%) blur(.33rem);
	backdrop-filter: saturate(180%) blur(.33rem);
	opacity: 0;
	transition: transform 0.4s cubic-bezier(0.51, 0.01, 0.18, 1.03), opacity 0.3s ease;
}

.card-item:hover .item-content.is-feature {
	opacity: 1;
}

.card-item .item-content p {
	margin: .5rem 0;
	line-height: 2rem;
}

.dark-theme .card-item .item-content pre {
	background: var(--dark-background);
}

.card-item .item-footer>.item>a {
	display: flex;
	align-items: center;
}

.card-item .item-tag, .list-item .item-tag, .memos-tag {
	white-space: nowrap;
	border-radius: .33rem;
	background-color: var(--light-color-hover);
	cursor: default;
}

.dark-theme .card-item .item-tag, .dark-theme .list-item .item-tag, .dark-theme .memos-tag {
	background-color: var(--dark-color-hover);
}

.card-item .item-note{
	overflow:hidden;
	height:calc(1em * 2 * 1.5);
}

.card-item .item-fadein {
	opacity: 0;
	transition: transform .4s ease;
	transform: translate3d(0, 100%, 0);
}

.card-item:hover .item-fadein {
	opacity: 1;
	transition: transform .4s ease;
	transform: translate3d(0, 0, 0);
}

.item-comment {
	padding: 1rem;
	border-radius: .33rem;
	background-color: var(--dark-main-color);
}

.dark-theme .item-comment {
	background-color: var(--light-color-third);
}

.load {
	position: relative;
	display: flex;
}

.load-btn {
	color: var(--light-color);
	font-weight: 400;
	transition: all .6s ease-out;
	flex: 1;
	background-color: var(--light-background-secondary);
}

.load-btn:hover {
	background: var(--light-background-hover);
}

.dark-theme .load-btn:hover {
	background: var(--dark-background-hover);
}

/* twikoo */
.tk-tag,
.tk-extras,
.tk-row.actions .tk-action-icon.__markdown,
.tk-preview,
.tk-content p a.at {
	display: none !important;
}

.tk-replies .tk-content {
	font-size: 1em !important;
}

.tk-content img {
	max-width: 100% !important;
	max-height: 100% !important;
	vertical-align: initial !important;
}

.tk-owo-emotion {
	width: 30px;
}

.tk-footer {
	display: none;
}

.dark-theme .OwO .OwO-body {
	background-color: var(--dark-background);
	color: var(--light-background);
}

/* post-preview */
.post-preview {
	position: relative;
	display: flex;
	margin: 1em auto;
	height: 210px;
	max-width: 680px;
	border-radius: .33rem;
	background: #fff;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .25), 0 0 1px rgba(0, 0, 0, .25);
}

.post-preview--meta {
	overflow: hidden;
	padding: 25px;
	width: 75%;
}

.post-preview--middle {
	line-height: 28px;
}

.post-preview--title {
	margin: 0 !important;
	font-size: 18px;
}

.post-preview--title a {
	text-decoration: none;
}

.post-preview--date {
	color: #999;
	font-size: 14px;
}

.post-preview--excerpt {
	font-size: 14px;
	line-height: 1.825;
}

.post-preview--excerpt p {
	margin-bottom: 0;
}

.post-preview--image {
	float: right;
	width: 25%;
	height: auto;
	border-top-right-radius: 2px !important;
	border-bottom-right-radius: 2px !important;
	border-bottom-left-radius: 0 !important;
	border-top-left-radius: 0 !important;
}

/* tocify */
.tocify {
	position: absolute;
	right: 2%;
	overflow: auto;
	width: 20%;
	max-height: 90%;
	border-radius: .33rem;
}

.tocify ul,
.tocify li {
	margin: 0;
	padding: 0;
	border: none;
	list-style: none;
	line-height: 30px;
}

.tocify li a {
	display: inline-block;
	text-decoration: none;
	text-indent: 10px;
	font-size: 14px;
}

.tocify ul ul li a:before {
	content: "- ";
}

@media only screen and (max-width:768px) {
	.tocify {
		display: none;
	}
}

/* Swiper */
.swiper-container {
	position: relative;
	z-index: 0;
	overflow: hidden;
	margin-right: auto;
	margin-left: auto;
}

.swiper-container-no-flexbox .swiper-slide {
	float: left;
}

.swiper-container-vertical>.swiper-wrapper {
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	-ms-flex-direction: column;
	-webkit-flex-direction: column;
	flex-direction: column;
}

.swiper-wrapper {
	position: relative;
	z-index: 1;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	width: 100%;
	height: 100%;
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	-o-transition-property: -o-transform;
	transition-property: transform;
	-ms-transition-property: -ms-transform;
}

.swiper-container-android .swiper-slide,.swiper-wrapper {
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-o-transform: translate(0,0);
	transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
}

.swiper-container-multirow>.swiper-wrapper {
	-webkit-box-lines: multiple;
	-moz-box-lines: multiple;
	-ms-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
}

.swiper-container-free-mode>.swiper-wrapper {
	margin: 0 auto;
	-webkit-transition-timing-function: ease-out;
	-moz-transition-timing-function: ease-out;
	-o-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	-ms-transition-timing-function: ease-out;
}

.swiper-slide {
	position: relative;
	width: 100%;
	height: 100%;
	-webkit-flex-shrink: 0;
	flex: 0 0 auto;
	flex-shrink: 0;
}

.swiper-container-autoheight,.swiper-container-autoheight .swiper-slide {
	height: auto;
}

.swiper-container-autoheight .swiper-wrapper {
	-webkit-transition-property: -webkit-transform,height;
	-moz-transition-property: -moz-transform;
	-o-transition-property: -o-transform;
	transition-property: transform,height;
	-webkit-box-align: start;
	-ms-flex-align: start;
	-webkit-align-items: flex-start;
	align-items: flex-start;
	-ms-transition-property: -ms-transform;
}

.swiper-container .swiper-notification {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1000;
	opacity: 0;
	pointer-events: none;
}

.swiper-wp8-horizontal {
	-ms-touch-action: pan-y;
	touch-action: pan-y;
}

.swiper-wp8-vertical {
	-ms-touch-action: pan-x;
	touch-action: pan-x;
}

.swiper-pagination {
	position: absolute;
	z-index: 10;
	text-align: center;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
	-webkit-transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
}

.swiper-pagination.swiper-pagination-hidden {
	opacity: 0;
}

.swiper-container-horizontal>.swiper-pagination-bullets,.swiper-pagination-custom,.swiper-pagination-fraction {
	bottom: 10px;
	left: 0;
	width: 100%;
}

.swiper-pagination-bullet {
	display: inline-block;
	width: 8px;
	height: 8px;
	border-radius: 100%;
	background: var(--dark-color-secondary);
	opacity: .2;
}

button.swiper-pagination-bullet {
	margin: 0;
	padding: 0;
	border: none;
	box-shadow: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-webkit-appearance: none;
	appearance: none;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
	cursor: pointer;
}

.swiper-pagination-white .swiper-pagination-bullet {
	background: var(--light-background);
}

.swiper-pagination-bullet-active {
	background: var(--main-color);
	opacity: 1;
}

.swiper-pagination-white .swiper-pagination-bullet-active {
	background: var(--light-background);
}

.swiper-pagination-black .swiper-pagination-bullet-active {
	background: var(--dark-background);
}

.swiper-container-vertical>.swiper-pagination-bullets {
	top: 50%;
	right: 10px;
	-webkit-transform: translate3d(0,-50%,0);
	-moz-transform: translate3d(0,-50%,0);
	-o-transform: translate(0,-50%);
	transform: translate3d(0,-50%,0);
	-ms-transform: translate3d(0,-50%,0);
}

.swiper-container-vertical>.swiper-pagination-bullets .swiper-pagination-bullet {
	display: block;
	margin: 5px 0;
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
	margin: 0 5px;
}

.swiper-pagination-progress {
	position: absolute;
	background: var(--dark-color-third);
}

.swiper-pagination-progress .swiper-pagination-progressbar {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--main-color);
	-webkit-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0);
	-webkit-transform-origin: left top;
	-moz-transform-origin: left top;
	-o-transform-origin: left top;
	transform-origin: left top;
	-ms-transform: scale(0);
	-ms-transform-origin: left top;
}

/* loading */
.el-loading {
	position: relative;
	flex: 1;
}

.el-skeleton {
	padding: 1rem;
	flex: 1;
	border-radius: .33rem;
	background-size: 400% 100%;
	background-position: 100% 50%;
	background-image: linear-gradient(90deg, var(--light-background-hover) 25%, var(--light-color-hover) 45%, var(--light-background-hover) 65%);
	animation: skeleton-loading 3s ease infinite;
}

.dark-theme .el-skeleton {
	background-image: linear-gradient(90deg, var(--dark-background-secondary) 25%, var(--dark-color-hover) 45%, var(--dark-background-secondary) 65%);
}

/* resource */
.resource-wrapper {
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}

.resource-wrapper>.images-wrapper {
	display: grid;
	width: 100%;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	gap: 1rem;
}

.memo-resource::after {
	display: block;
	padding-top: 100%;
	content: '';
}

.resource-wrapper>.images-wrapper>.memo-resource {
	position: relative;
	overflow: hidden;
	border-radius: .33rem;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.resource-wrapper>.images-wrapper>.memo-resource>img {
	position: absolute;
	width: 100%;
	height: 100%;
	cursor: pointer;
	-o-object-fit: cover;
	object-fit: cover;
	transition: transform 0.6s ease;
}

.resource-wrapper>.images-wrapper.images-scale>.memo-resource:hover>img {
	transform: scale(1.1);
}
 
@media (min-width:768px) {
	.resource-wrapper>.images-wrapper {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}
	.resource-wrapper>.images-wrapper.images-card {
		grid-template-columns: repeat(4, minmax(0, 1fr));
	}
	.resource-wrapper>.images-wrapper.polaroid-card {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
}

.video-wrapper {
	position: relative;
	display: flex;
	padding-bottom: 56%;
	height: 0
}

.video-wrapper iframe {
	position: absolute;
	width: 100%;
	height: 100%
}

/* calendar */
.calendar-list {
	position: relative;
	display: grid;
	width: 100%;
	grid-template-columns: repeat(9, minmax(0, 1fr));
	gap: .25rem;

	.grid-column {
			display: grid;
			gap: .25rem;
	}

	.grid-item {
			align-items: center;
			display: flex;
			justify-content: center;
			position: relative;

	}

	.item-info {
			width: 100%;
			background-color: var(--light-border-color);
			border-radius: .2rem;
			padding-bottom: 100%;
	}

}

.dark-theme .calendar-list {
	.item-info {
		background-color: var(--dark-border-color);
	}
}