{% extends "base.html" %}

{% block title %}{{ tag.name }} · {{ config.siteName }}{% endblock %}

{% block main %}
    <section class="content">
        <main class="posts">
            <h1>#{{ tag.name }}</h1>

            {% if posts|length > 0 %}
                <ul class="posts-list">
                    {% for post in posts %}
                        <li class="post-item">
                            <a href="{{ post.link }}" class="post-item-inner">
                                <span class="post-title">{{ post.title }}</span>
                                <span class="post-day">{{ post.date }}</span>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>此标签下暂无文章。</p>
            {% endif %}
        </main>
    </section>
{% endblock %}
